@model NewsNew1.Model.ArticleTag

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ArticleTag</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Article.teaser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Article.teaser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tag.tags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tag.tags)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
