
@model NewsNew1.Model.DTO.CategoryDTO.CreateCategoryDTO

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



    <div class="container">
        <h2>Category</h2>

        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Create</button>
        @*<div class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"></div>*@

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">New Category</h4>
                    </div>
                    <div class="modal-body">


                        <form id="myForm">
                            <div class="form-horizontal">
                                <h4>Category</h4>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.displayname, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.displayname, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.displayname, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                @*<div class="form-group">
                                    @Html.LabelFor(model => model.isDeleted, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            @Html.EditorFor(model => model.isDeleted)
                                            @Html.ValidationMessageFor(model => model.isDeleted, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>*@

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">

                                        @*<input type="submit" value="Create" class="btn btn-default" />*@
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                        <a href="#" class="btn btn-default" data-dismiss="modal">cancel</a>
                        <input type="submit" value="Submit" class="btn btn-success"  />
                    </div>
                </div>

            </div>
        </div>

    </div>
    <script>
        $(document).ready(function () {

            $("#btnSubmit").click(function () {

                //$("#loaderDiv").show();
                var myformdata = $("#myForm").serialize();
                $.ajax({
                    type: "POST",
                    url: "/Categories/Index",
                    data: myformdata,
                    success: function (response) {
                        $("#myModal").modal("hide");
                        //$("#loaderDiv").hide();
                        alert("you are done")
                    }



                })


            })


        })



            //var saveCategories = function () {



            //}


    </script>














    @*<div class="form-horizontal">
            <h4>Category</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.displayname, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.displayname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.displayname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.isDeleted, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.isDeleted)
                        @Html.ValidationMessageFor(model => model.isDeleted, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>*@



}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
