@model IEnumerable<NewsNew1.Model.DTO.CategoryDTO.GetCategoryDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <div class="form-control">
        <h2>Index</h2>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>


        <table class="table table-bordered table-striped" width="100%">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.displayname)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.isDeleted)
                    </th>*@
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.displayname)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.isDeleted)
                        </td>*@
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>
                </tr>
            }

        </table>

    </div>

</div>




